.our-customers {
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.our-customers-list > .item {
    flex-basis: calc((100% - 180px) / 6);
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #afb1b8;

    padding: 16px 32px;
}
.our-customers-list > .item:hover,
.our-customers-list > .item:focus {
    border-color: #2196f3;
    cursor: pointer;
}
.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.customers-svg {
    fill: #afb1b8;
}

.customers-svg:hover,
.customers-svg:focus {
    fill: #2196f3;
}